@import "../../../globalStyles/variables";

.warningMessage {
    position: fixed;
    bottom: 24px;
    left: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $highlight;
    padding: 14px 14px 17px;
    min-width: 375px;
    max-width: 400px;
    z-index: 1000;
    box-shadow: $box-shadow;
    &-success {
        background-color: #3c9f41;
    }
    &-mobile {
        left: 0;
        bottom: 0;
        right: 0;
    }
    &__text {
        font-size: 16px;
        line-height: 23px;
        color: #fff;

        a {
            color: $bg-primary;
            border-bottom: 1px solid $bg-primary;
        }
    }
}