@import "../../../../globalStyles/variables";

.magicClasses {
    &__classes {
        background-color: $bg-secondary;
        padding: 18px;
        margin: -18px;
        margin-bottom: 12px;
        padding-bottom: 12px;
    }
    &__btnCreate {
        padding: 9px 0;
        color: $text-secondary;
        transition: opacity 0.175s ease-in-out;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__header {
        display: flex;
        margin-bottom: 4px;
        &_text {
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            text-align: right;
            letter-spacing: 0.04em;
            color: $text-tertiary;
        }
    }
    &__classTitle {
        width: 221px;
        padding-right: 50px;
    }
    &__characteristic {
        display: flex;
        align-items: center;
        width: 60px;
        cursor: pointer;
        .field {
            transition: opacity 0.175s ease-in-out;
        }
        &:hover {
            .field {
                opacity: 0.8;
            }
        }
    }
    &__savingThrow,
    &__penetration {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__savingThrow {
        width: 60px;
    }
    &__penetration {
        width: 89px;
    }
    &__item {
        position: relative;
        display: flex;
        padding: 4px 0;
        &:last-of-type {
            &:before {
                display: none;
            }
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            background-color: $separator;
        }
        &:hover {
            margin-left: -10px;
            margin-right: -35px;
            padding-right: 35px;
            padding-left: 10px;
            background-color: $bg-primary;
            box-shadow: $box-shadow;

            .magicClasses__item_btnDelete {
                visibility: visible;
            }
        }
        &_text {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: $text-secondary;
            .custom-list-select {
                &:before {
                    display: none;
                }
                .display {
                    font-size: 16px;
                    line-height: 20px;
                    text-align: right;
                    letter-spacing: 0.02em;
                    color: $text-secondary;
                }
                .button {
                    display: none;
                }

                .option {
                    text-align: left;
                }
            }
        }

        &_btnDelete {
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            visibility: hidden;
            cursor: pointer;
            transition: opacity 0.175s ease-in-out;
            &:hover {
                opacity: 0.8;
            }
        }

        .custom-select__label-wrapper,
        .customElem__label {
            padding: 4px 0;
        }
        .customElem__label {
            &:before {
                display: none !important;
            }
        }
    }
}